name: Qa Deployment
 
on:
  pull_request:
    types:
      - closed
    branches:
      - qa
       
permissions:
    id-token: write
    contents: read   
    
jobs:
 qa-pipeline:
  uses: ./.github/workflows/deploy-tpl.yml
  with:
    Environment: qa
    region: us-east-1
 
  secrets:
    role: ${{ secrets.DEPLOYMENT_ROLE }}