name: Prod Deployment
 
on:
  pull_request:
    types:
      - closed
    branches:
      - main
  
  issue_comment:
    types: [created]

permissions:
  id-token: write
  pull-requests: read
  issues: write 
  contents: read
    
jobs:
  prod-pipeline:
    uses: ./.github/workflows/deploy-prod-tpl.yml
    with:
      Environment: prod
      region: us-east-1
  
    secrets:
      role: ${{ secrets.DEPLOYMENT_ROLE }}